<h2 class="container">
  Welcome to Tech Blog
</h2>
<br>
<br>
<section class="container">


  {{#unless logged_in}}
    <h2>Please login to view content</h2>
  {{/unless}}
  {{#if logged_in}}

    <h3>Recent Posts</h3>
    <div class="accordion pt-2" id="accordionExample"></div>

    {{#each postData}}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{id}}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapseOne">
          <div>
            <h5>{{post_title}}</h5> 
            <h6>by: {{user_id}} &#9830; {{ format_date createdAt}} {{format_time createdAt}}</h6>
          </button>
        </h2>
        <div id="collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="heading{{id}}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {{post_message}}
          </div>
        </div>
      </div>
    {{/each}}

  </div>
  {{/if}}

</section>